#root {
    background-color: #d6d7da;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
}

.container {
    width: 100%;
}
.h-90-vh{
    height: 90vh;
}
/* mn --- Mobile device mini */
@media (min-width: 320px) {
    #root{
        height: auto;
    }
    .container{
        width: 100%;
    }
    .h-90-vh{
        height: auto;
    }
    .col-mn-12{
        flex: 0 0 auto;
        width: 100%;
    }
}
/* xs --- Mobile device */
@media (min-width: 576px) {
    #root{
        height: auto;
    }
    .container{
        width: 100%;
    }
    .h-90-vh{
        height: auto;
    }
    .col-xs-12{
        flex: 0 0 auto;
        width: 100%;
    }
    .col-xs-6{
        flex: 0 0 auto;
        width: 50%;
    }
}

/* md --- Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #root{
        height: auto;
    }
    .container{
        max-width: 760;
    }
    .h-90-vh{
        height: auto;
    }
    .col-md-3{
        flex: 0 0 auto;
        width: 25%;
    }
    .col-md-4{
        flex: 0 0  auto;
        width: 33.3333333%;
    }
    .col-md-12{
        flex: 0 0 auto;
        width: 100%;
    }
}

/* lg --- Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #root{
        height: 100vh;
    }
    .container{
        max-width: 960px;
    }
    .h-90-vh{
        height: auto;
    }
    .col-lg-3{
        flex: 0 0 auto;
        width: 25%;
    }
    .col-lg-4{
        flex: 0 0 auto;
        width: 33.333333%;
    }
    .col-lg-6{
        flex: 0 0 auto;
        width: 50%;
    }
    .col-lg-9{
        flex: 0 0 auto;
        width: 75%;
    }
    .col-lg-12{
        flex: 0 0 auto;
        width: 100%;
    }
}

/* xl --- Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .container{
        max-width: 1140px;
    }
    .h-90-vh{
        height: 90vh;
    }
    .col-xl-3{
        flex: 0 0 auto;
        width: 25%;
    }
    .col-xl-4{
        flex: 0 0 auto;
        width: 33.333333%;
    }
    .col-xl-6{
        flex: 0 0 auto;
        width: 50%;
    }
    .col-xl-9{
        flex: 0 0 auto;
        width: 75%;
    }
    .col-xl-12{
        flex: 0 0 auto;
        width: 100%;
    }
}


.row {
    display: flex;
    flex-wrap: wrap;
    /* margin-right: -1.5rem;
    margin-left: -1.5rem; */
    width: 100%;
}


/* .col {
  padding-left: 12px;
  padding-right: 12px;
} */
.p-3{
    padding: 2rem!important;
}
.p-4{
    padding: 1.5rem!important;
}
.bg-white{
    background-color: white;
}
.bg-w{
    background-color: #F6F6F8;
}
.bg-blue{
    background-color: #11CAF0!important;
}

.mg-b-1{
    margin-bottom: 2rem!important;
}
.mg-b-5{
    margin-bottom: 1rem!important;
}
.mg-r-1{
    margin-right: 2rem!important;
}
.pd-1{
    padding: 1rem!important;
}
.ps-r{
    position: relative;
}
.ps-a{
    position: absolute;
}
.jus-cen{
    justify-content: center;
}
.alg-cen{
    align-items: center;
}
.jus-bet {
    justify-content: space-between;
}
.jus-str{
    justify-content: flex-start;
}
.flex{
    display: flex;
}
.fex-c{
    flex-direction: column!important;
}

.cl-white{
    color: white;
}
.cl-1{
    color: #6c757d!important;
}
.cl-2{
    color: rgb(0 0 0/26%)!important;
}
.nav{
    flex-wrap: wrap;
    list-style: none;
}


.round-50{
    width: 5rem;
    border-radius: 50%!important;
}

.bor-b{
    border-bottom: .3rem  solid black  !important;
}
/* .bor-black{
  border-color: black;
} */

.cur {
    cursor: pointer;
}

.text-center {
    text-align: center;
}

.w-80{
    width: 8rem;
}

.fs-3{
    font-size: 2.7rem!important;
}
.fs-5{
    font-size: 1.7rem!important;
}

